subscription_id              = "2ba70baf-7ff8-4e44-8076-1d11be1fc143"
project_name                 = "simple-melalion"
environment                  = "dev"
location                     = "eastus"
resource_group_name          = "rg-simple-melalion-dev"
storage_account_name         = "stsimplemelaliondev01"
databricks_workspace_name    = "dbw-simple-melalion-dev"
databricks_sku               = "premium"
databricks_secret_scope_name = "platform-secrets"

tags = {
  owner       = "data-platform"
  cost_center = "engineering"
}
